body
{background:<img src="unbox.png">;
background-size: cover;
font-family: arial;
color:red;
}
ul
{
margin:0px;
padding:0px;
list-style-type:none;
text align: centre;
}
ul li{
float :left;
width : 200px;
height : 40px;
background-color:black;
opacity:.7;
text-decoration: none;
font-size: 20px;
line-height: 40px;
margin-right: 2px;
border: 2px solid white;
border radius: 10px;
}
ul li a{
text_decoration: none;
color:white;
display: block;
}
ul li a:hover{
background:red;
border-radius: 10px;
}
ul li ul li{
display: none;
}
ul li:hover ul li{
display: block;
}